<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Given url</th>
        <th>Short Link</th>
        <th>Clicks</th>
        <th>IP Address</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td><%= link.long_url %></td>
          <td><%= link_to link.display_slug, link.slug, target: '_blank' %></td>
          <td><%= link.clicks %></td>
          <td><%= link.ip_address %></td>
          <td></td> 
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
